<h4>Результаты игр за <%= @year %> год</h4>
<% if user_signed_in? %>
<div class="row">
  <div class="col s4">
    <a class="waves-effect waves-light btn" href="/games/new">Добавить результат</a>
  </div>
  <div class="col s8">
    <%= link_to "2015", games_year_path("2015"), class: "waves-effect waves-light btn" %>
    <%= link_to "2016", games_year_path("2016"), class: "waves-effect waves-light btn" %>
    <%= link_to "2017", games_year_path("2017"), class: "waves-effect waves-light btn" %>
    <%= link_to "2018", games_year_path("2018"), class: "waves-effect waves-light btn" %>
  </div>
</div>
<% end %>
<table class="striped result">
  <thead>
    <tr>
      <th>Игр: <%= @games.count %></th>
      <th colspan="2">Восток</th>
      <th colspan="2">Юг</th>
      <th colspan="2">Запад</th>
      <th colspan="2">Север</th>
      <th style="text-align: right;">Сумма</th>
    </tr>
  </thead>
  <tbody>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.created_at.strftime("%Y.%m.%d"), game %></td>

      <td><%= get_player_name("east", game, @players) %></td>
      <td><%= game.score["east"]["player_score"] %></td>

      <td><%= get_player_name("south", game, @players) %></td>
      <td><%= game.score["south"]["player_score"] %></td>

      <td><%= get_player_name("west", game, @players) %></td>
      <td><%= game.score["west"]["player_score"] %></td>
      
      <td><%= get_player_name("north", game, @players) %></td>
      <td><%= game.score["north"]["player_score"]%></td>

      <td style="text-align: right;"><%= score_sum(game) %></td>
    </tr>
  <% end %>
  </tbody>
</table>