<h4>Результаты игр за <%= @year %> год</h4>
<% if user_signed_in? %>

<div class="row">
  <div class="col s12 m12">
    <a class="btn waves-effect waves-light" href="/games/new">
      <i class="material-icons left">add_circle_outline</i>Добавить результат
    </a>
  </div>
</div>
<% end %>

<%
  year_first = 2015
  year_now = Time.now.year
  year_count = year_now - year_first

  year_array = Array.new
  for i in 0..year_count
    year_array << year_first
    year_first += 1
  end
%>

<div class="row">
  <div class="col s12 m12">
  <% year_array.each do |year| %>
    <%= link_to year, games_year_path(year), class: "btn waves-effect waves-light" %>
  <% end %>
  </div>
</div>

<table class="striped result responsive-table">
  <thead>
    <tr>
      <th>Игр: <%= @games.count %></th>
      <th>Восток</th>
      <th></th>
      <th>Юг</th>
      <th></th>
      <th>Запад</th>
      <th></th>
      <th>Север</th>
      <th></th>
      <th style="text-align: right;">Сумма</th>
    </tr>
  </thead>
  <tbody>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.created_at.strftime("%Y.%m.%d"), game %></td>

      <td><%= get_player_name("east", game, @players) %></td>
      <td><%= game.score["east"]["player_score"] %></td>

      <td><%= get_player_name("south", game, @players) %></td>
      <td><%= game.score["south"]["player_score"] %></td>

      <td><%= get_player_name("west", game, @players) %></td>
      <td><%= game.score["west"]["player_score"] %></td>
      
      <td><%= get_player_name("north", game, @players) %></td>
      <td><%= game.score["north"]["player_score"]%></td>

      <td style="text-align: right;"><%= score_sum(game) %></td>
    </tr>
  <% end %>
  </tbody>
</table>