<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Фамилия Имя" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :nickname, "Ник" %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <label>
      <%= form.check_box :activated, class: "filled-in" %>
      <span>Активирован?</span>
    </label>
  </div>

  <div class="actions" style="padding-top: 20px;">
    <%= form.submit "Продолжить", class: "btn waves-effect waves-light" %>
  </div>
<% end %>
