<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col s4">
    <a class="waves-effect waves-light btn" href="/players/new">Добавить игрока</a>
  </div>
</div>
<table class="striped result">
  <thead>
    <tr>
      <th>Фамилия Имя</th>
      <th>Ник</th>
      <th>Всего игр</th>
      <th>Среднее место</th>
      <th>1 место</th>
      <th>2 место</th>
      <th>3 место</th>
      <th>4 место</th>
      <th>Лучший результат</th>
      <!--<th>Активирован?</th>-->
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player|

    
      p1 = results_counter(@games, player.id, 3).count
      p2 = results_counter(@games, player.id, 2).count
      p3 = results_counter(@games, player.id, 1).count
      p4 = results_counter(@games, player.id, 0).count
      games_count = p1+p2+p3+p4
      best_result = results_counter(@games, player.id, 3).max
      games_avg_place = ((1*p1) + (2*p2) + (3*p3) + (4*p4)) / games_count.to_f
    %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.nickname %></td>
        <td><%= games_count %></td>
        <td><%= games_avg_place.round 1 %></td>
        <td><%= (100 / (games_count / p1.to_f)).round 1 %>%</td>
        <td><%= (100 / (games_count / p2.to_f)).round 1 %>%</td>
        <td><%= (100 / (games_count / p3.to_f)).round 1 %>%</td>
        <td><%= (100 / (games_count / p4.to_f)).round 1 %>%</td>
        <td><%= best_result %></td>
        <!--<td><%= if player.activated == true then "Да" else "Нет" end %></td>-->
        <!--<td><%= link_to 'Редактировать', edit_player_path(player) %></td>-->

      </tr>
    <% end %>
  </tbody>
</table>