<p>
  <h3>
    <!-- <%= if @player.activated == true then "✔" else "✖" end %> -->
    <%= @player.name %> 
  </h3>
</p>
<%
  games_count = @games.count
  p1 = results_counter(@games, @player.id, 3).count
  p2 = results_counter(@games, @player.id, 2).count
  p3 = results_counter(@games, @player.id, 1).count
  p4 = results_counter(@games, @player.id, 0).count
  best_result = results_counter(@games, @player.id, 3).max
%>

<p><%= results_counter(@games, @player.id, 3) %></p>
<p><%= results_counter(@games, @player.id, 2) %></p>
<p><%= results_counter(@games, @player.id, 1) %></p>
<p><%= results_counter(@games, @player.id, 0) %></p>


<table class="higlight">
  <tr>
    <td>Сыграно игр</td><td><%= games_count %></td>

    <td>Первых мест</td><td><%= p1 %> | <%= (100 / (games_count / p1.to_f)).round 2 %>%</td>
    <td>Вторых мест</td><td><%= p2 %> | <%= (100 / (games_count / p2.to_f)).round 2 %>%</td>
    <td>Третьих мест</td><td><%= p3 %> | <%= (100 / (games_count / p3.to_f)).round 2 %>%</td>
    <td>Четвертых мест</td><td><%= p4 %> | <%= (100 / (games_count / p4.to_f)).round 2 %>%</td>

    <td>Лучший результат</td><td><%= best_result %></td>
  </tr>
</table>
<!-- Хз как делать проверку на место тут, с суммой я кое-как справился %) -->
<table class="striped result">
  <thead>
    <tr>
      <th></th>
      <th colspan="2">Восток</th>
      <th colspan="2">Юг</th>
      <th colspan="2">Запад</th>
      <th colspan="2">Север</th>
      <th style="text-align: right;">Сумма</th>
    </tr>
  </thead>
  <tbody>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.created_at.strftime("%Y.%m.%d"), game %></td>

      <td><%= get_player_name("east", game, @players) %></td>
      <td><%= game.score["east"]["player_score"] %></td>

      <td><%= get_player_name("south", game, @players) %></td>
      <td><%= game.score["south"]["player_score"] %></td>

      <td><%= get_player_name("west", game, @players) %></td>
      <td><%= game.score["west"]["player_score"] %></td>
      
      <td><%= get_player_name("north", game, @players) %></td>
      <td><%= game.score["north"]["player_score"]%></td>

      <td style="text-align: right;"><%= score_sum(game) %></td>
    </tr>
  <% end %>
  </tbody>
</table>