<p id="notice"><%= notice %></p>

<p>
  <h3>
    <%= if @player.activated == true then "✔" else "✖" end %>
    <%= @player.name %> 
  </h3>
  <b>Ник:</b>
  <%= if @player.nickname != nil then @player.nickname else "не указан" end %>
</p>
<p>
  game data
</p>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
