<p id="notice"><%= notice %></p>

<p>
  <h3>
    <%= if @player.activated == true then "✔" else "✖" end %>
    <%= @player.name %> 
  </h3>
</p>
<!-- Пока не понятно, как считать места правильно, если ЮЗЕРНЕЙМ1 и ЮЗЕРНЕЙМ2 получили одинаковое кол-во очков к концу ханчана
<table class="striped result">
  <tr>
    <td>Сыграно игр</td><td><%= @games.count %></td>
    <td>Первых мест</td><td><%= results_counter(@games, @player.id, 3) %></td>
    <td>Вторых мест</td><td><%= results_counter(@games, @player.id, 2) %></td>
    <td>Третьих мест</td><td><%= results_counter(@games, @player.id, 1) %></td>
    <td>Четвертых мест</td><td><%= results_counter(@games, @player.id, 0) %></td>
    <td style="text-align: right;">Среднее место</td><td></td>
  </tr>
</table>
-->
<table class="striped result">
  <thead>
    <tr>
      <th></th>
      <th colspan="2">Восток</th>
      <th colspan="2">Юг</th>
      <th colspan="2">Запад</th>
      <th colspan="2">Север</th>
      <th style="text-align: right;">Сумма</th>
    </tr>
  </thead>
  <tbody>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.created_at.strftime("%Y.%m.%d"), game %></td>

      <td><%= get_player_name("east", game, @players) %></td>
      <td><%= game.score["east"]["player_score"] %></td>

      <td><%= get_player_name("south", game, @players) %></td>
      <td><%= game.score["south"]["player_score"] %></td>

      <td><%= get_player_name("west", game, @players) %></td>
      <td><%= game.score["west"]["player_score"] %></td>
      
      <td><%= get_player_name("north", game, @players) %></td>
      <td><%= game.score["north"]["player_score"]%></td>

      <td style="text-align: right;"><%= score_sum(game) %></td>
    </tr>
  <% end %>
  </tbody>
</table>